In [5]:
import pandas as pd

In [6]:
#FROM CSV
#df1 = pd.read_csv('PythonPandasTutorialACompleteIntroductionForBeginners/purchases.csv')
df1 = pd.read_csv('PythonPandasTutorialACompleteIntroductionForBeginners/purchases.csv', index_col=0)
df1

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [7]:
#FROM JSON
df2 = pd.read_json('PythonPandasTutorialACompleteIntroductionForBeginners/purchases.json')
df2
#Use of "orient" keyword (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_json.html)

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [8]:
#FROM SQLite (pysqlite3 required)   Note: database inactive.
import sqlite3

con = sqlite3.connect("database.db")
#df3 = pd.read_sql_query("SELECT * FROM purchases", con)
df = df.set_index('index')
df3

NameError: name 'df' is not defined

In [10]:
#Converting back to a CSV, JSON, or SQL: After cleaning your data, we’re now ready to save it as a file of your choice.
df1.to_csv('new_purchases.csv')

df2.to_json('new_purchases.json')

#df3.to_sql('new_purchases', con) #we’re not creating a new file but instead inserting a new table into the database using our con variable from before.